* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};




 /*NAVBAR*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 6rem !important;
}

.navbar {
    background: url('./assests/navbar\ and\ header/nav-bar-bg.webp') center/cover no-repeat;
    /* Other styles for your navigation bar */
    /* Adjust the height as needed */
    color: white;
    /* Set the text color */
}

.nav-box {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.nav-search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#search-icon{
    position: relative;
    top: 9px;
    left: 60px;
    color: gray;
    font-size: 20px;
}

.nav-search input {
    padding-left: 35px;
    padding-right: 80px !important;
}



/*Nav bar links*/
.nav-links {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 0rem 6rem;
}

.nav-links a {
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.nav-links a:hover{
    background-color: #dbd8d8;
}


.socials a{
    text-decoration: none;
    color: black;
}
.socials img{
    background-color: #fff;
    padding: 5px ;
    border-radius: 5px;
}

/*MAIN HEADING*/
.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 4rem;
}

/*Filter box*/
.filter-options {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #D4BE74;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 1rem ;
}

.filter-options select {
    border: none;
}

.visning{
    display: flex;
    justify-content: center;
    align-self: center;
}
#Sorter{
    display: inline;
    position: relative;
    top: 3px;
    left: 116px;
    
}
#Filtrer{
    
    display: inline;
    position: relative;
    top: 3px;
    left: 116px;
}
#visning{
    display: inline;
    position: relative;
    top: 3px;
    left: 99px;
}

.gold-line{
    margin-top: 0.8rem;
    width: 2px;
    height: 25px;
    background-color: #D4BE74;
}

.sort-filter {
    display: flex;
    gap: 1rem;
}

/*PRoduct container*/
.products-container {
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* Adds two rows */
    gap: 80px;
}

.product img {
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    height: 250px;
    object-fit: contain ;
    object-position: center center;
    /* Maintain aspect ratio */
    margin-bottom: 10px;
}

.color-lines {
    width: fit-content;
    display: flex;
    height: 50px;
    justify-content: center;
    gap: 7px ;
}

.color-lines img{
    width: 12% !important;
    height: 11% !important;
}

.line1:hover{
    transform: scale(140%);
    cursor: pointer;
}
.line2:hover{
    transform: scale(140%);
    cursor: pointer;
}
.line3:hover{
    transform: scale(140%);
    cursor: pointer;
}




/*Pagination numbers*/
.pages{
    margin-bottom: 4rem;
}
.button-line {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 1rem;
}

.numbered-button {
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-align: center;
    text-decoration: none;
    font: bold;
    cursor: pointer;
}

.numbered-button.active {
    background-color: #D4BE74;
    color: #fff;
}




/* FOOTER */
.footer {
    width: 100vw;
    height: 4rem;
}

.copyright {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    text-align: center;
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    /* Adjust the gap as needed */
}



/* Main footer section */
.footer {
    width: 100%;
    max-width: 100vw;
    /* Prevents horizontal overflow */
    height: auto;
    margin: 0;
    /* Remove margin */
    overflow-x: hidden;
    background-color: black;
}

.footer a svg path,
.footer a svg rect,
.footer a svg circle {
    fill: black; /* Set the fill color to black */
}

.footer {
    background: url('./assests/navbar\ and\ header/footbg.svg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    
}



/* Copyright section */
.copyright {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    text-align: center;
    padding: 10px;
}

.box1,
.box2,
.box3 {
    border: 1px solid #ccc;
    /* Add borders for visualization */
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top: none;
    border-bottom: none;
    border-left: none;
    justify-content: space-evenly;
}

/* footer box1 */

.box1 p i{
    color: #D4BE74;
}

/* footer box2 */
.box2,
.box1,
.box3 h3 {
    text-align: center;
}

.box1 h3 {
    text-align: start;
    padding: 2px 40px;
}

.box1,
.box2 p {
    font-size: 20px;
}

.box3,
.box1 p {
    text-align: start;
    padding: 7px 40px;
    font-size: 20px;
}

.email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.gold-text{
    color: #D4BE74;
}

#email {
    width: 15rem;
}

.telmeld-btn {
    padding: 6px 30px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background-color: #D4BE74;
    color: #1C1C1C;
}

.kontakt-btn{
    background-color: #F2F2F2;
    color: #000000;
}

.socials {
    font-size: 32px;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}



/*PAGE HEAD*/
.page-head{
    width: 100%;
    background-color: #171C24;
    color: #F2F2F2;
    color: white;
    padding-left: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
}
